<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" type="button">
			<span class="sr-only">toggle navigation</span> 
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/main" class="navbar-brand">Graduation Project</a>
	</div>
	<div class="navbar-collapse collapse" id="navbar">
		<ul class="nav navbar-nav navbar-right">
			<li data-toggle="tab">
				<a ng-click="goto('about')">关于</a>
			</li>
			<li data-toggle="tab">
				<a ng-click="goto('about')">联系我们</a>
			</li>
		</ul>
	</div>
</div>