doctype html
html(lang="zh-cn")
	head
		title myApp
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="for fun")
		meta(name="author" content="thcloud")
		link(rel='stylesheet', href='/dist/css/main.min.css')
	body(ng-app="myApp")
		.container
			nav.navbar.navbar-inverse.navbar-fixed-top
				.container
					button.navbar-toggle.collapsed(data-toggle="collapsed", data-target="#navbar", type="button")
						span.sr-only toggle navigation
						span.icon-bar*3
					a.navbar-brand(href="/") 操蛋毕设

					.navbar-collapse.collapse#navbar
						ul.nav.navbar-nav
							li.active(data-toggle="tab")
								a(href="/") 主页
							li(data-toggle="tab")
								a(href="/")	关于
							li(data-toggle="tab")
								a(href="/") 联系我们
							li.dropdown(data-toggle="tab")
								a.dropdown-toggle(data-toggle="dropdown" role="button") 下拉菜单
								ul.dropdown-menu
									li
										a(href="/") Action
									li
										a(href="/") Another Action
									li
										a(href="/") Something else
									li.divider(role="separator")					
									li.dropdown-header Nav header
									li
										a(href="/") Separated link
									li
										a(href="/") One more separated link
		block content
script(src='/dist/js/app.min.js')